.idea/sonarlint/securityhotspotstore/8/2/.gitignore
.idea/sonarlint/securityhotspotstore/b/0/.gitignore
.idea/sonarlint/securityhotspotstore/b/f/.gitignore
.idea/sonarlint/securityhotspotstore/c/2/.gitignore
.idea/sonarlint/securityhotspotstore/c/4/.gitignore
.idea/sonarlint/securityhotspotstore/c/8/.gitignore
.idea/sonarlint/securityhotspotstore/d/0/d0003de8055ef62a38c4e844285f9fb4833f3f9c
.idea/sonarlint/securityhotspotstore/f/3/f3572744fef84b5ec6c25f3200f23db5c74f4121
.idea/sonarlint/securityhotspotstore/f/4/f4b3b594edca25be6abd778e8517a18d411fe45a
.idea/sonarlint/securityhotspotstore/f/4/f4ef9dc40c2b02ffeb61928acb2526f1edbb50cd
.idea/sonarlint/securityhotspotstore/f/9/f90845cf96bd3d9126139a96b4b2c0f661242d3c
.idea/
TP2_PR.iml
lib/viewer/
